body {
    background-color: #e0e1dd;
}

.header {
    text-align: center;
}

.bio {
    
}

#pfp {
    display: inline-block;
    margin-left: 15%;
    height: 250px;
    border-radius: 20px;
    
}

.description {
    display: inline-block;
    width: 750px;
    margin-top: -15%;
    margin-left: 5%;
    vertical-align: middle;
}


